NAME=Cronos
TYPE=site
ID=cronos
MAIN=backend/dist/index.js
RAM=1024
VERSION=latest
START=cd backend && npx prisma generate && npx prisma migrate deploy && PORT=8080 node dist/index.js
BUILD=npm run build --workspace backend && npm run build --workspace frontend && cp -r frontend/dist backend/public
AUTORESTART=true